* {
    box-sizing: border-box;
    user-select: none;
}
body {
    background-color: #eef9bf;
}
div {
    border: 1px solid red;
}
.topo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo {
    color: #75B79E;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    white-space: nowrap;
    margin: 40px 0 40px 0;
}
h1 {
    text-align: center;
}
.jogo {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 250px;
}
.carta {
    width: 117px;
    height: 146px;
    background-color: #a7e9af;
    margin: 10px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.carta:hover {
    cursor: pointer;
}

.carta img {
    height: 100px;
    width: 100px;
}

.rotacao-para-cima {
    transition: all .5s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}
.rotacao-para-baixo {
    transition: all .5s;
    transform-style: preserve-3d;
    transform: rotateY(-180deg);
}

.moldura {
    height: 30px;
    display: flex;
    justify-content:flex-end;
}

.cronometro {
    margin-right: 80px;
    font-size: 30px;
}

@media (max-width: 550px) {
	.titulo {
        font-size: 36px;
        line-height: 42px;
        white-space: normal;
        margin-left: 120px;
        margin-right: 120px;
    }
    .jogo {
        flex-direction: column;
        flex-wrap: nowrap;  
    }
}